.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(60, 53, 176);
    background: linear-gradient(
        90deg,
        rgba(60, 53, 176, 1) 0%,
        rgba(26, 216, 220, 1) 50%,
        rgba(7, 88, 105, 1) 100%
    );
}

#input-text {
    padding: 1rem;
    margin-bottom: 1rem;
    width: 80%;
    max-width: 400px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    height: 40px;
    font-size: 20px;
}

#submit-button {
    padding: 1.2rem 2.5rem;
    font-size: 1.4rem;
    background-color: #213df3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
}

#submit-button:hover {
    background-color: rgb(46, 46, 125);
}

form {
    width: 80%;
    max-width: 400px;
}

/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {
    .container {
        height: auto;
        padding: 2rem;
    }

    #input-text,
    #submit-button,
    form {
        width: 100%;
        max-width: none;
    }

    #input-text {
        font-size: 18px;
    }

    #submit-button {
        font-size: 1.2rem;
    }
}
